<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.btnyellow{
 background:#fbb800 !important; 
  border: 1px solid rgba(255,255,255,0.4) !important;
  text-shadow: none !important;
  color:rgba(84, 89, 95, 1); !important;
}</style>
<!-- end Simple Custom CSS and JS -->
